/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
    padding-top: 70px;
    margin: 0;
  }

  [id] {
    scroll-margin-top: 80px; /* Ajuste o valor para a altura do header */
  }
  
  /* Cabeçalho */
  header {
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
  }
  
  header nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  header nav ul li {
    display: inline-block;
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  header nav ul li a:hover {
    color: #ffc107;
  }
  
  /* Seções */
  section {
    padding: 20px;
    text-align: center;
  }
  
  section h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Cards */
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card h2 {
    font-size: 1.5rem;
    color: #333;
  }
  
  .card p {
    font-size: 1rem;
    color: #555;
  }

  /* Remover bullets das listas */
ul {
  list-style: none;
}
  
  /* Rodapé */
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  footer a:hover {
    color: #ffc107;
  }
  